.card {
    border: 1px solid;
    border-color: rgb(58, 110, 180);
    border-color: linear-gradient(90deg, rgba(58, 110, 180, 1) 69%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    margin: 10px;
    box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.71);
    -webkit-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.71);
    -moz-box-shadow: -4px 3px 5px 0px rgba(0, 0, 0, 0.71);
}

.card:hover {
    transform: scale(1.1);
    transition: 1s;
}

.card img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.products-wrapper {
    /* display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding: 5px;
    width: 95%; */
    display: flex;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px;
}

.btn {
    background: rgb(58, 110, 180);
    background: linear-gradient(90deg, rgba(58, 110, 180, 1) 69%, rgba(253, 29, 29, 1) 100%, rgba(252, 176, 69, 1) 100%);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

.price {
    font-weight: bold;
}